<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">Contact Us</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
           {% if site.youtube_channel %}
          <li>
            <a href="https://www.youtube.com/{{ site.youtube_channel }}">
                 <i class="fa fa-youtube"></i> YouTube
            </a>
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
                 <i class="fa fa-facebook"></i> Facebook
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i> Twitter
            </a>
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
            </a>
          </li>
          {% endif %}

           {% if site.tumblr_username %}
          <li>
            <a href="https://www.{{ site.tumblr_username }}.tumblr.com">
                 <i class="fa fa-tumblr-square"></i> Facebook
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>