---
layout: default
---

<div class="home">

  <section class="main-slides">
  	{% for slide in site.slides %}
  	<article class="slide">
  		<iframe class="slideshow-iframe" src="{{ site.github.url }}{{ slide.url }}"></iframe>
  	</article>
  	{% endfor %}
  </section>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <a href="{{ post.url | relative_url }}">
          {{ post.excerpt }}
        </a>
        <a href="{{ post.url | relative_url }}">Read More...</a>
      </li>
    {% endfor %}
  </ul>
</div>
